.btn{
    padding: 10px 5px;
    width: 200px;
    background: green;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Playfair Display', serif;
}

.btn:hover{
    background: blue;
}

.link{
    text-decoration: none;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espaço maior entre os botões e a lista de itens */
}