.btn{
    padding: 10px 5px;
    width: 200px;
    background-color: #4CAF50;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    border: none;
    cursor: pointer;
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Playfair Display', serif;
}

.btn:hover{
    background-color: #45a049;
}

.link{
    text-decoration: none;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.move{
    z-index: 1;
    position: relative;
    top: 100;
}

.flor{
    position: relative;
    top: -20px;
    z-index: 0;
  }  

.flor2{
    position: relative;
    top: -120px;
    left: 400px;
}

.flor_{
    position: relative;
    top: -0px;
    z-index: 0;
  }

  .flor_2{
    position: relative;
    top: -100px;
    left: 400px;
}