<!DOCTYPE html>
<html>

<head>
    <title>Detalhes do Item</title>
</head>

<body>

    <div>
        <div>
            <h1>Item Detalhes</h1>
            <!-- Adicione aqui outros detalhes específicos do item, se desejar -->
            <form method="post" action="/enviar_email">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required><br>

                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</body>

</html>



