<!DOCTYPE html>
<html>

<head>
    <title>Lista de Presente</title>
    <link rel="stylesheet" href="/static/css/btn.css">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

    <div class="container">

        <img src="/imagens/Capturar.PNG" alt="Foto de Eletrodomesticos">

        <div class="circle-container">
            <div class="circle"></div>
            <div class="circle2"></div>
            <div class="message">
                <span class="inspiracoes">INSPIRAÇÕES</span><br>
                <span class="paletas">PALETAS DE CORES</span>
            </div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <script>
            // Obtém o valor do nome do item escolhido enviado para o template
            var itemNomeEscolhido = "{{ item_nome_escolhido }}";
            // Adiciona a classe CSS "escolhido" ao item selecionado
            window.addEventListener('DOMContentLoaded', function () {
                var item = document.querySelector("li[data-item-nome='" + itemNomeEscolhido + "']");
                if (item) {
                    item.classList.add("escolhido");
                }
            });
        </script>

        {% block content %}
        <ul>
            {% for item in lista_de_itens %}
            {% if item in itens_escolhidos %}
            <li class="escolhido" data-item-nome="{{ item }}">{{ item }}</li>
            {% else %}
            <li><a href="{{ url_for('item_details', item=item) }}">{{ item }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endblock %}

        <div>
            <a class="link" href="/pagina2"><button class="btn">&#8594; Proxima Pagina</button></a>
        </div>

    </div>
</body>

</html>
