<!DOCTYPE html>
<html>

<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/css/landing.css">
</head>

<body>


    <h1>Bem-vindo à nossa Landing Page!</h1>
    <p>Aqui está a lista de itens:</p>
    <div>
        <h1>=== Página 1 ===</h1>
        <ul>
            {% for item in lista_de_itens %}
            <li><a href="{{ url_for('item_details', item=item) }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <button>
        <a href="/">pagina1</a>
    </button>

    <button>
        <a href="/pagina2">pagina2</a>
    </button>

    <button>
        <a href="/pagina3">pagina3</a>
    </button>

</body>

</html>