<!DOCTYPE html>
<html lang="pt-BR">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Presente</title>
    <link rel="stylesheet" href="/static/css/btn.css">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/home.css">

    <style>
        .img_ {
            text-align: center;
            position: relative;
        }

        .img_ img {
            max-width: 100px;
            height: auto;
            position: absolute;
            top: 40%;
            left: 90%;
            transform: translate(-50%, -50%);
            margin-top: 150px;
        }

            @media (min-width: 601px) {
                .img_ {
                    display: none;
                }
            }
    </style>

</head>

<body>

    <div class="container">

        <div class="img">
            <img src="{{ url_for('servir_imagens', filename='Capturar.PNG') }}" alt="Minha Imagem">
        </div>

        <div class="circle-container">
            <div class="circle"></div>
            <div class="circle2"></div>
            <div class="message">
                <span class="inspiracoes">INSPIRAÇÕES</span><br>
                <span class="paletas">PALETAS DE CORES</span>
            </div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>

        <script>
            // Obtém o valor do nome do item escolhido enviado para o template
            var itemNomeEscolhido = "{{ item_nome_escolhido }}";
            // Adiciona a classe CSS "escolhido" ao item selecionado
            window.addEventListener('DOMContentLoaded', function () {
                var item = document.querySelector("li[data-item-nome='" + itemNomeEscolhido + "']");
                if (item) {
                    item.classList.add("escolhido");
                }
            });
        </script>

        <div class="img_">
            <img src="{{ url_for('servir_imagens', filename='flores_.PNG') }}" alt="Minha Imagem">
        </div>

        {% block content %}
        <ul>
            {% for item in lista_de_itens %}
            {% if item in itens_escolhidos %}
            <li class="escolhido" data-item-nome="{{ item }}">{{ item }}</li>
            {% else %}
            <li><a href="{{ url_for('item_details', item=item) }}">{{ item }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endblock %}

        <div class="move">
            <a class="link" href="/pagina2"><button class="btn">&#8594; Proxima Pagina</button></a>
        </div>

        <div class="flor"><img src="{{ url_for('servir_imagens', filename='flor.PNG') }}" alt="Minha Imagem"></div>
        <div class="flor2"><img src="{{ url_for('servir_imagens', filename='flor2.PNG') }}" alt="Minha Imagem"></div>

        <p class="text">AGRADECEMOS A SUA CONTRIBUIÇÃO NESSE MOMENTO TÃO ESPECIAL!!
            <br>
            CASO QUEIRA NOS PRESENTEAR COM ALGUM <br>PRESENTE QUE NÃO ESTEJA NA LISTA,<br>
            
            SERÁ BEM RECEBIDO ♥️&#128150;</p>

    </div>

</body>

</html>