<!DOCTYPE html>
<html>

<div class="container">

  <head>
    <title>Lista de Presente</title>
    <link rel="stylesheet" href="/static/css/btn.css">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/home.css">
  </head>

  <body>

    <div class="circle-container">
      <div class="circle"></div>
      <div class="circle2"></div>
      <div class="message">Inspirações<br>Paletas de Cores</div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>

    {% block content %}
    <ul>
      {% for item in lista_de_itens %}
      {% if item in itens_escolhidos %}
      <li class="escolhido">{{ item }}</li>
      {% else %}
      <li><a href="{{ url_for('item_details', item=item) }}">{{ item }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endblock %}

    <div class="btn-container">
      <a class="link" href="/"><button class="btn">&#8592; Página Anterior</button></a>
      <a class="link" href="/pagina3"><button class="btn">Proxima Pagina &#8594;</button></a>
    </div>

  </body>
</div>

</html>